In [1]:
import pandas as pd

In [2]:

data = pd.read_excel('DuLieuThucHanh2_66PM34_GuiSV_V1.xlsx', sheet_name=None)

df_sinh_vien = data['Sinh Vien']
df_diem_mon_1 = data['Diem Mon 1']
df_diem_mon_2 = data['Diem Mon 2']
df_diem_mon_3 = data['Diem Mon 3']
df_diem_mon_4 = data['Diem Mon 4']

print(df_sinh_vien)
print(df_diem_mon_1)

    STT  Ma Sinh Vien             Ho Ten  Ngay Sinh Gioi Tinh Lop Quan Ly
0     1        189456    Hoang Minh Giam 2003-05-11       Nam       66PM1
1     2        198436    Nguyen Duc Tuan 2003-06-17       Nam       66PM5
2     3        208472   Huynh Minh Thanh 2003-01-21       Nam      66MHT1
3     4        208473  Truong Viet Hoang 2003-01-22        Nu      66MHT2
4     5        208474   Truong Viet Hung 2003-01-23       Nam      66MHT2
5     6        208475   Truong Viet Hang 2003-01-24        Nu      66MHT2
6     7        208476   Truong Viet Hoan 2003-01-25       Nam      66MHT1
7     8        208477   Truong Van Hoang 2003-01-26       Nam      66MHT1
8     9        208478    Truong Van Hung 2003-01-27        Nu      66MHT2
9    10        208479    Truong Van Hang 2003-01-28        Nu      66MHT1
10   11        208480    Truong Van Hoan 2003-01-29       Nam       66PM1
11   12        208481  Truong Minh Hoang 2003-01-30        Nu       66PM1
12   13        208482   Truong Minh Hung 2003-01-31        Nu       66PM5
13   14        208483   Truong Minh Hang 2003-02-01       Nam       66PM5
14   15        208484   Truong Minh Hoan 2003-02-02       Nam       66PM1
15   16        208485  Truong Minh Hoang 2003-02-03       Nam      66MHT2
16   17        208486  Nguyen Viet Hoang 2003-02-04        Nu       66PM1
17   18        208487   Trinh Viet Hoang 2003-02-05       Nam       66PM1
18   19        208488      Le Viet Hoang 2003-02-06        Nu      66MHT2
19   20        208489    Tran Viet Hoang 2003-02-07       Nam       66PM5
20   21        208490    Pham Viet Hoang 2003-02-08       Nam      66MHT2
21   22        208491     Dao Viet Hoang 2003-02-09        Nu       66PM5
22   23        208492      Vo Viet Hoang 2003-02-10        Nu       66PM5
    STT  Ma Sinh Vien  Diem Qua Trinh  Diem Cuoi Ky
0     1        189456             7.0           4.0
1     2        198436             6.0           4.5
2     3        208472             8.5           9.0
3     4        208473             9.0           6.0
4     5        208474             6.5           6.0
5     6        208475             8.5           6.0
6     7        208476             8.5           7.0
7     8        208477             8.0           9.0
8     9        208478             8.5           6.5
9    10        208479             8.5           6.0
10   11        208480             5.0           6.5
11   12        208481             5.5           6.0
12   13        208482             5.5           8.5
13   14        208483             8.5           8.0
14   15        208484             6.0           6.0
15   16        208485             6.5           6.0
16   17        208486             9.0           6.0
17   18        208487             8.5           8.0
18   19        208488             6.5           6.0
19   20        208489             7.0           7.0
20   21        208490             8.5           6.0
21   22        208491             6.5           7.0
22   23        208492             6.0           6.0